---
import Component from '../components/guiaDeMarca';
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';

const identidad = [
  {
    title: 'MISIÓN',
    description: 'Ofrecemos soluciones de desarrollo web de alta calidad y personalizadas para satisfacer las necesidades únicas de cada cliente. Nos enfocamos en estar siempre cerca, escuchando tus ideas y brindando un servicio amigable y confiable.'
  },
  {
    title: 'VISIÓN',
    description: 'Aspiramos a ser líderes en desarrollo web, destacándonos por nuestra innovación, creatividad y atención al cliente. Queremos ser el socio de confianza para empresas de todos los tamaños, brindando soluciones web que impulsen su crecimiento.'
  },
  {
    title: 'VALORES',
    description: 'Cercanía, amabilidad y seguridad son los pilares de INNOVATEProweb. Nos mantenemos siempre cerca de nuestros clientes, creando relaciones de confianza, y garantizando la protección de sus datos con soluciones personalizadas.'
  }
];
---

<Layout title="Manual de Marca - INNOVATEProweb">
	<main class="bg-background">
		
		<Component client:load />
		<div class="w-full max-w-[1200px] mx-auto p-6 space-y-12">

			<!-- ESTAMOS EN -->
			<div class="bg-white rounded-lg shadow-md overflow-hidden">
				<div class="p-6 border-b">
				  <h2 class="text-center text-3xl font-medium text-text font-Titulos">Estamos en:</h3>
				</div>
				<div class="p-6 space-y-4">
				 
				  <ul class="grid grid-cols-2 md:grid-cols-4 gap-4 ">
					
					  <li class="flex items-center p-4 bg-white rounded-lg shadow-sm hover:text-accent2">
						<a class="text-sm font-medium"  href='https://www.innovateproweb.com' target="_blank" rel="noopener noreferrer" style="font-family: 'Inter', sans-serif;"> 
						Website
						</a>
					  </li>

					  <li class="flex items-center p-4 bg-white rounded-lg shadow-sm hover:text-accent2">
						<a class="text-sm font-medium"  href='https://www.instagram.com/innovateproweb/' target="_blank" rel="noopener noreferrer" style="font-family: 'Inter', sans-serif;"> 
						Instagram
						</a>
					  </li>

					  <li class="flex items-center p-4 bg-white rounded-lg shadow-sm hover:text-accent2">
						<a class="text-sm font-medium"  href='https://elements.envato.com/' target="_blank" rel="noopener noreferrer" style="font-family: 'Inter', sans-serif;"> 
						Envato
						</a>
					  </li>

					  <li class="flex items-center p-4 bg-white rounded-lg shadow-sm hover:text-accent2">
						<a class="text-sm font-medium"  href='https://www.fiverr.com/' target="_blank" rel="noopener noreferrer" style="font-family: 'Inter', sans-serif;"> 
						Fiverr
						</a>
					  </li>

					  <li class="flex items-center p-4 bg-white rounded-lg shadow-sm hover:text-accent2">
						<a class="text-sm font-medium"  href='https://www.upwork.com/' target="_blank" rel="noopener noreferrer" style="font-family: 'Inter', sans-serif;"> 
						Upwork
						</a>
					  </li>

					  <li class="flex items-center p-4 bg-white rounded-lg shadow-sm hover:text-accent2">
						<a class="text-sm font-medium"  href='https://www.instagram.com/innovateproweb/' target="_blank" rel="noopener noreferrer" style="font-family: 'Inter', sans-serif;"> 
						Landing proyectos (pendiente)
						</a>
					  </li>

					  <li class="flex items-center p-4 bg-white rounded-lg shadow-sm hover:text-accent2">
						<a class="text-sm font-medium"  href='https://www.instagram.com/innovateproweb/' target="_blank" rel="noopener noreferrer" style="font-family: 'Inter', sans-serif;"> 
						Linkedin (pendiente)
						</a>
					  </li>

					  <li class="flex items-center p-4 bg-white rounded-lg shadow-sm hover:text-accent2">
						<a class="text-sm font-medium"  href='https://www.instagram.com/innovateproweb/' target="_blank" rel="noopener noreferrer" style="font-family: 'Inter', sans-serif;"> 
						GitHub (pendiente)
						</a>
					  </li>
				  </ul>
				</div>
			</div>

			<!-- TRABAJAMOS CON -->
			<div class="bg-white rounded-lg shadow-md overflow-hidden">
				<div class="p-6 border-b">
				  <h2 class="text-center text-3xl font-medium text-text font-Titulos">Trabajamos con:</h3>
				</div>
				<div class="p-6 space-y-4">
				 
				    <ul class="grid grid-cols-2 md:grid-cols-4 gap-4 ">
						<li class="flex items-center p-4 bg-white rounded-lg shadow-sm hover:text-accent2">
							<a class="text-sm font-medium"  href='https://app.asana.com/0/1208690104642750/1208690531682854' target="_blank" rel="noopener noreferrer" style="font-family: 'Inter', sans-serif;"> 
							Asana
							</a>
						</li>
						
						<li class="flex items-center p-4 bg-white rounded-lg shadow-sm hover:text-accent2">
							<a class="text-sm font-medium"  href='https://app.slack.com/client/T07RZ0AETGF/C07SAM79QKX' target="_blank" rel="noopener noreferrer" style="font-family: 'Inter', sans-serif;"> 
							Slack
							</a>
						</li>
						
						<li class="flex items-center p-4 bg-white rounded-lg shadow-sm hover:text-accent2">
							<a class="text-sm font-medium"  href='https://www.figma.com/design/SFOQON4Ym4rv2hkLJRDp4l/INNOVATEProweb?node-id=1279-16708&node-type=canvas&t=nKIPkDNAd7IjBNC0-0' target="_blank" rel="noopener noreferrer" style="font-family: 'Inter', sans-serif;"> 
							Figma
							</a>
						</li>
						<li class="flex items-center p-4 bg-white rounded-lg shadow-sm hover:text-accent2">
							<a class="text-sm font-medium"  href='https://app.hubspot.com/login/?loginRedirectUrl=https%3A%2F%2Fapp.hubspot.com%2Fuser-guide%2F47827949%3Fvia%3Dhome&authFailureReason=401%20Unauthorized&loginPortalId=47827949' target="_blank" rel="noopener noreferrer" style="font-family: 'Inter', sans-serif;"> 
							HubSpot
							</a>
						</li>

				    </ul>
				</div>
			</div>

			<!-- MISION, VISION Y VALORES -->
			<div class="bg-white rounded-lg shadow-md overflow-hidden">
			  <div class="p-6 border-b">
				<h2 class="text-center text-3xl font-medium text-text font-Titulos">Misión, Visión, Valores</h2>
			  </div>
			  <div class="p-6">
				<section>
				  <div class="my-6 grid grid-cols-1 md:grid-cols-3 gap-6">
					{identidad.map((i) => (
					  <div class="bg-white rounded-lg shadow-md overflow-hidden">
						<div class="p-6">
						  <h4 class="font-medium mb-4 text-accent1">{i.title}</h4>
						  <p class="text-sm text-text mb-4">{i.description}</p>
						</div>
					  </div>
					))}
				  </div>
				</section>
			  </div>
			</div>

			<!-- PERSONALIDAD DE LA MARCA -->
			<div class="bg-white rounded-lg shadow-md overflow-hidden">
			  <div class="p-6 border-b">
				<h2 class="text-center text-3xl font-medium text-text font-Titulos">Personalidad de Marca</h3>
			  </div>
			  <div class="p-6 space-y-4">
				<p class="text-sm text-gray-600" style="font-family: 'Inter', sans-serif;">
				  Nuestra marca se comunica de manera:
				</p>
				<ul class="grid grid-cols-2 md:grid-cols-4 gap-4 text-accent2">
				  {[
					'Innovadora y dinámica',
					'Profesional y confiable',
					'Cercana y amigable',
					'Clara y directa'
				  ].map((rasgo) => (
					<li class="flex items-center p-4 bg-white rounded-lg shadow-sm">
					  <span class="text-sm font-medium" style="font-family: 'Inter', sans-serif;">{rasgo}</span>
					</li>
				  ))}
				</ul>
			  </div>
			</div>

			<!-- CONTACTO -->
			<div class="bg-white rounded-lg shadow-md overflow-hidden">
				<div class="p-6 border-b">
				  <h2 class="text-center text-3xl font-medium text-text font-Titulos">Contacto</h3>
				</div>
				<div class="p-6 space-y-4">
				  <ul class="grid grid-cols-2 md:grid-cols-4 gap-4 text-accent1">
					{[
					  'Email: info@innovateproweb.com',
					  'WhatsApp: +59 8960 33191',
					  'Instagram: @innovateproweb',
					  'Website: www.innovateproweb'
					].map((rasgo) => (
					  <li class="flex items-center p-4 bg-white rounded-lg shadow-sm">
						<span class="text-sm font-medium" style="font-family: 'Inter', sans-serif;">{rasgo}</span>
					  </li>
					))}
				  </ul>
				</div>
			  </div>
		</div>
		
	</main>
</Layout>